*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #14213d;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 45px;
    background-color: #000000;
    /* border-bottom: solid 1px #fca311; */
}

#health-screen {
    /*    display: none;*/
    position: relative;
    width: 278px;
    height: 26px;
    /*    border: solid 1px red;*/
}

.none-header {
    display: none;
}

.health-level {
    display: inline-block;
    width: 28px;
    height: 26px;
    margin-left: -4px;
    background-color: #fca311;
    /* border-left: solid 1px #e5e5e5; */
    /*    border: solid 1px red;*/
}

.health-animation {
    animation-iteration-count: 1;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-name: movementHealth;
    animation-fill-mode: forwards;
}

@keyframes movementHealth {
    to {
        width: 0;
    }
}

#score {
    width: 60px;
    height: 43px;
    justify-self: end;
    /* border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5; */
    text-align: center;
    padding: 5px;
    font-family: inherit;
    font-size: 30px;
    /* background-color: #14213d; */
    color: #fca311;
}

#random-key {
    width: 40px;
    height: 43px;
    justify-self: center;
    /* border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5; */
    text-align: center;
    /* padding-top: 4px; */
    font-family: inherit;
    font-size: 37px;
    /* background-color: #14213d; */
    color: #fca311;
}

#falling-key {
    width: 40px;
    height: 43px;
    /* border: solid 2px #000000; */
    color: #14213d;
    background-color: #e5e5e5;
    text-align: center;
    align-items: center;
    font-family: inherit;
    font-size: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: movementDown;
    animation-fill-mode: forwards;
    border-radius: 80%;
    z-index: -1;
}

@keyframes movementDown {
    from {
        top: 0;
    }
    to {
        top: 350px;
    }
}

#start-game {
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#start-btn {
    width: 100px;
    height: 100px;
    margin-top: 140px;
    border: solid 1px darkolivegreen;
    border-radius: 50px;
    font-family: inherit;
    font-size: 35px;
    color: #f40000;
}

#loss {
    display: none;
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    color: #e5e5e5;
    padding-top: 120px;
}

#game-over {
    display: none;
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    color: #e5e5e5;
    padding-top: 120px;
}

#pause {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    /* font-family: inherit; */
    font-size: 30px;
    border: solid 2px #e5e5e5;
    color: #e5e5e5;
    background-color: #14213d;
    border-radius: 4px;
    box-shadow: 3px -2px 10px 1px rgba(255, 255, 255, 0.25),
        3px 0px 10px 1px rgba(255, 255, 255, 0.25);
}

#pause-text {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 130px;
}

#container-pause-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
}

#continuation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #fca311;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213d;
    font-size: 16px;
}

#exit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213d;
    font-size: 16px;
}

#keyboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-top: solid 1px #fca311;
    background-color: #000000;
}

#keys {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin: 3px;
    font-family: inherit;
    color: #e5e5e5;
    background-color: #14213d;
    border: solid 1px #e5e5e5;
    border-radius: 4px;
}
.highlight {
    border: solid 1px white;
    color: white;
}

.colorTargetKey {
    border: solid 2px #fca311;
    color: #e5e5e5;
}

#keys > div:nth-child(2) {
    margin-left: 110px;
}

#keys > div:nth-child(3) {
    margin-left: 150px;
}

#keys > div:nth-child(4) {
    margin-left: 90px;
}
