*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #14213d;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 45px;
    background-color: #000000;
    /* border-bottom: solid 1px #fca311; */
}

#health-screen {
    /*    display: none;*/
    position: relative;
    width: 278px;
    height: 26px;
    /*    border: solid 1px red;*/
}

.none-header {
    display: none;
}

.health-level {
    display: inline-block;
    width: 28px;
    height: 26px;
    margin-left: -4px;
    background-color: #fca311;
}

.health-animation {
    animation-iteration-count: 1;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-name: movementHealth;
    animation-fill-mode: forwards;
}

@keyframes movementHealth {
    to {
        width: 0;
    }
}

#score {
    width: 60px;
    height: 43px;
    justify-self: end;
    text-align: center;
    padding: 5px;
    font-family: inherit;
    font-weight: 400;
    font-size: 30px;
    color: #fca311;
}

#random-key {
    width: 40px;
    height: 43px;
    justify-self: center;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 37px;
    color: #fca311;
}

#falling-key {
    width: 40px;
    height: 43px;
    color: #14213d;
    background-color: #e5e5e5;
    text-align: center;
    align-items: center;
    font-family: inherit;
    font-size: 32px;
    font-weight: 500;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: movementDown;
    animation-fill-mode: forwards;
    border-radius: 80%;
    z-index: -1;
}

@keyframes movementDown {
    from {
        top: 0;
    }
    to {
        top: 350px;
    }
}

#start-game {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#start-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-top: 140px;
    border: solid 0.2px #fca311;
    border-radius: 50%;
    box-shadow: 3px -2px 10px 1px rgba(255, 255, 255, 0.25),
        3px 0px 10px 1px rgba(255, 255, 255, 0.25);
    font-family: inherit;
    font-size: 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #14213d;
    color: #e5e5e5;
}

#start-btn:hover {
    filter: brightness(150%);
}

#timerStart {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-top: 30px;
    font-family: inherit;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
}

#loss {
    display: none;
    /* width: 100%; */
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    color: #e5e5e5;
    padding-top: 120px;
}

#game-over {
    display: none;
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    color: #e5e5e5;
    padding-top: 120px;
}

#loading-spinner {
    display: none;
    animation: rotate 3s linear infinite;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 35px;
    height: 35px;
}

.path {
    stroke: #fca311;
    opacity: 0.7;
    stroke-linecap: round;
    animation: dash 6s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 180;
        stroke-dashoffset: -124;
    }
}

#pause {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    font-size: 30px;
    border: solid 2px #e5e5e5;
    color: #e5e5e5;
    background-color: #14213d;
    border-radius: 4px;
    box-shadow: 3px -2px 10px 1px rgba(255, 255, 255, 0.25),
        3px 0px 10px 1px rgba(255, 255, 255, 0.25);
}

#pause-text {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 130px;
}

#container-pause-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
}

#continuation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #fca311;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213d;
    font-size: 16px;
}

#exit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213d;
    font-size: 16px;
}

#keyboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-top: solid 1px #fca311;
    background-color: #000000;
}

#keys {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin: 3px;
    font-family: inherit;
    color: #e5e5e5;
    background-color: #14213d;
    border: solid 1px #e5e5e5;
    border-radius: 4px;
}
.highlight {
    border: solid 1px white;
    color: white;
}

.colorTargetKey {
    border: solid 2px #fca311;
    color: #e5e5e5;
}

#keys > div:nth-child(2) {
    margin-left: 110px;
}

#keys > div:nth-child(3) {
    margin-left: 150px;
}

#keys > div:nth-child(4) {
    margin-left: 90px;
}
